section {
  height: 100%;
  border-radius: var(--border-radius);
}

.grid {
  gap: 1rem;
}

.grid > div {
  border-radius: 0.6rem;
  padding: 1.5rem;
  cursor: pointer;
}

.bottom-info,
.project-header,
header {
  display: flex;
  justify-content: space-between;
}

.project-header,
header {
  align-items: center;
}

.project-header > img {
  width: 25px;
  height: 25px;
}

header,
.section-header,
.projects-section {
  background-color: var(--primary-color);
  padding: 1.5rem;
}

.section-header,
.projects-section {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

header {
  border-radius: 5rem;
}

.hamburger-menu,
.modo,
.notificaciones {
  width: 24px;
  height: 24px;
}

.foto {
  width: 40px;
  height: 40px;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.more-options {
  display: flex;
  gap: 2rem;
}

.info-perfil {
  display: flex;
  gap: 1rem;
}

.username {
  font-weight: bold;
}

.role {
  font-size: 0.9rem;
  font-weight: 300;
}

.datos-usuario {
  gap: 0.25rem;
}

.search-input {
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
}

.section-title {
  font-weight: bolder;
  font-size: 1.4rem;
}

.section-description {

  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(128, 128, 128);
}

.flex-procesos {

  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
}   

.subproceso-item{
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 0.6rem;
  padding: 1.25rem 1.5rem;
  transition: all 0.2s;
  cursor: pointer;
}

subproceso-item:hover {
    background-color: #e0e0e0;
}

.subproceso-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subproceso-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subproceso-header h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #1a1a1a;
  margin: 0;
}

.subproceso-actions{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.action-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

