.modal-carga {
  background-color: var(--primary-color);
  padding: 2.5rem;
  border-radius: var(--border-radius);
}

.bola-carga {
  width: 50px;
  height: 50px;
  animation: animacion-carga 2s linear 0s infinite forwards;
}

.bola {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--font-color);
}

.modal-carga-wrapper {
  justify-content: center;
  align-items: center;
}

.columna {
  display: flex;
  gap: 1rem;
}

.cuadro-carga {
  transform: rotate(45deg);
  animation: animacion-carga 1s ease-in-out 0s infinite forwards;
}

@keyframes animacion-carga {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
