.modal {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}

ul {
  list-style-type: none;
  gap: 1rem;
  font-weight: bold;
}

ul > li {
  cursor: pointer;
}

.main-header {
  border-bottom: 1px solid lightgray;
  padding: 1rem;
}

main {
  display: flex;
}

.menu-configuracion {
  margin: 1.5rem;
}

.area-principal {
  padding: 1.5rem 1.5rem 1.5rem 0rem;
  border-left: 1px solid lightgray;
}

.procesos-wrapper,
.area-principal,
.sin-procesos {
  flex: 1;
}

.sin-procesos {
  display: grid;
  place-items: center;
}

header.header-config {
  display: flex;
  justify-content: space-between;
  border: none;
  align-items: center;
  padding-left: 1.5rem;
}
