<div class="overlay" [class.animar]="toggler">
  <div class="modal" [class.animar]="toggler">
    <header class="header-modal main-header">
      <div>
        <h3>Configuración de proyecto</h3>
        <span class="description-font">Ajusta tus proyectos a tus necesidades</span>
      </div>
      <div class="close-button" (click)="cerrarModalConfigurarProyecto()">X</div>
    </header>
    <main>
      <div class="menu-configuracion">
        <ul class="flex-column sm-gap">
          <li
            (click)="seleccionarSeccion('Procesos')"
            [class.seleccionado]="opcionSeleccionada() === 'Procesos'"
          >
            Procesos
          </li>
          <li
            (click)="seleccionarSeccion('Subprocesos')"
            [class.seleccionado]="opcionSeleccionada() === 'Subprocesos'"
          >
            Subprocesos
          </li>
          <li
            (click)="seleccionarSeccion('Roles')"
            [class.seleccionado]="opcionSeleccionada() === 'Roles'"
          >
            Roles
          </li>
          <li
            (click)="seleccionarSeccion('Participantes')"
            [class.seleccionado]="opcionSeleccionada() === 'Participantes'"
          >
            Participantes
          </li>
          <li
            (click)="seleccionarSeccion('Detalles')"
            [class.seleccionado]="opcionSeleccionada() === 'Detalles'"
          >
            Detalles
          </li>
        </ul>
      </div>
      <div class="area-principal flex-column md-gap">
        @switch (opcionSeleccionada()) {
          @case ('Procesos') {
            <div class="procesos-wrapper flex-column sm-gap">
              <header class="header-config">
                <h2>Procesos</h2>
              </header>
              <form
                action=""
                class="flex-column sm-gap formulario"
                [formGroup]="formularioProcesos"
              >
                <div class="input-wrapper flex-column sm-gap">
                  <label for="">Nombre del proceso</label>
                  <input
                    type="text"
                    placeholder="Ingresa el nombre"
                    class="search-input"
                    formControlName="nombreProceso"
                  />
                </div>
                <div class="input-wrapper flex-column sm-gap">
                  <label for="">Descripción del proceso</label>
                  <textarea
                    placeholder="Ingresa la descripción"
                    class="search-input"
                    formControlName="descripcionProceso"
                  ></textarea>
                </div>
                <div>
                  <button
                    class="default-button"
                    [disabled]="formularioProcesos.invalid"
                    (click)="crearProceso()"
                  >
                    Crear proceso
                  </button>
                </div>
              </form>
              <h3>Procesos del proyecto</h3>
              @for (proceso of procesos(); track $index) {
                <proceso-card
                  [proceso]="proceso"
                  (borrarProceso)="borrarProceso($event)"
                  (editarProceso)="editarProceso($event)"
                ></proceso-card>
              } @empty {
                <div class="sin-procesos formulario">
                  <p class="empty">Aún no has creado ningún proceso</p>
                </div>
              }
            </div>
          }
          @case ('Subprocesos') {
            <div class="procesos-wrapper flex-column sm-gap">
              <header class="header-config">
                <h2>Subprocesos</h2>
              </header>
              <form
                action=""
                class="flex-column sm-gap formulario"
                [formGroup]="formularioSubprocesos"
              >
                <div class="input-wrapper flex-column sm-gap">
                  <label for="">Nombre del subproceso</label>
                  <input
                    type="text"
                    placeholder="Ingresa el nombre"
                    class="search-input"
                    formControlName="nombreSubproceso"
                  />
                </div>
                <div class="input-wrapper flex-column sm-gap">
                  <label for="">Descripción del subproceso</label>
                  <textarea
                    placeholder="Ingresa la descripción"
                    class="search-input"
                    formControlName="descripcionSubproceso"
                  ></textarea>
                </div>
                <div class="input-wrapper flex-column sm-gap">
                  <label for="">Proceso asociado</label>
                  <select class="custom-select" formControlName="idProcesoAsociado">
                    @for (proceso of procesos(); track proceso.idproceso) {
                      <option value="{{ proceso.idproceso }}">{{ proceso.nombre }}</option>
                    }
                  </select>
                </div>
                <div class="input-wrapper flex-column sm-gap" formArrayName="tecnicasAsociadas">
                  <label for="">Técnica de recolección utilizada</label>
                  <div class="checkbox-outer-wrapper">
                    <!-- Ciclo para renderizar los componentes -->
                    <!-- Los utilizo para saber que tecnicas asociadas seleccionó el usuario -->
                    @for (tecnica of tecnicasAsociadas.controls; track $index; let i = $index) {
                      <div class="checkbox-wrapper">
                        <input type="checkbox" [formControlName]="i" />
                        <span>{{ obtenerNombreCheckbox(i) }}</span>
                      </div>
                    }
                  </div>
                </div>
                <div>
                  <button class="default-button" (click)="crearSubproceso()">
                    Crear subproceso
                  </button>
                </div>
              </form>
              <h3>Subprocesos del proyecto</h3>
              @for (subproceso of subprocesos(); track $index) {
                <subproceso-card
                  [subproceso]="subproceso"
                  [procesosProyecto]="procesos()"
                  [tecnicasRecoleccion]="tecnicasRecoleccion()"
                  (eliminar)="eliminarSubproceso($event)"
                  (editar)="editarSubproceso($event)"
                ></subproceso-card>
              } @empty {
                <div class="sin-procesos formulario">
                  <p class="empty">Aún no has creado ningún subproceso</p>
                </div>
              }
            </div>
          }
          @case ('Roles') {
            <div class="procesos-wrapper flex-column sm-gap">
              <header class="header-config">
                <h2>Roles</h2>
              </header>
              <form action="" class="flex-column sm-gap formulario" [formGroup]="formularioRoles">
                <div class="input-wrapper flex-column sm-gap">
                  <label for="">Nombre del rol</label>
                  <input
                    type="text"
                    placeholder="Ingresa el nombre"
                    class="search-input"
                    formControlName="nombreRol"
                  />
                </div>
                <div class="input-wrapper flex-column sm-gap">
                  <label for="">Tipo de rol</label>
                  <select class="custom-select" formControlName="tipoRol">
                    <option value="Interno" [defaultSelected]="true">Interno</option>
                    <option value="Externo">Externo</option>
                  </select>
                </div>
                <div>
                  <button
                    class="default-button"
                    (click)="crearRol()"
                    [disabled]="formularioRoles.invalid"
                  >
                    Crear rol
                  </button>
                </div>
              </form>
              <h3>Roles del proyecto</h3>
              @for (rol of roles(); track $index) {
                <rol-card
                  [rol]="rol"
                  (eliminarRol)="eliminarRol($event)"
                  (modificarRol)="editarRol($event)"
                ></rol-card>
              } @empty {
                <div class="sin-procesos formulario">
                  <p class="empty">Aún no has creado ningún rol</p>
                </div>
              }
            </div>
          }
          @case ('Participantes') {
            <div class="procesos-wrapper flex-column sm-gap">
              <header class="header-config">
                <h2>Participantes</h2>
              </header>
              <form
                action=""
                class="flex-column sm-gap formulario"
                [formGroup]="formularioParticipantes"
              >
                <div class="input-wrapper flex-column sm-gap">
                  <label for="">Nombre del participante</label>
                  <input
                    type="text"
                    placeholder="Ingresa el nombre"
                    class="search-input"
                    formControlName="nombre"
                  />
                </div>
                <div class="apellidos-wrapper">
                  <div class="input-wrapper flex-column sm-gap">
                    <label for="">Apellido uno</label>
                    <input
                      type="text"
                      class="search-input"
                      placeholder="Ingresa el apellido uno"
                      formControlName="apellidoUno"
                    />
                  </div>
                  <div class="input-wrapper flex-column sm-gap">
                    <label for="">Apellidos dos</label>
                    <input
                      type="text"
                      class="search-input"
                      placeholder="Ingresa el apellido dos"
                      formControlName="apellidoDos"
                    />
                  </div>
                </div>
                <div class="input-wrapper flex-column sm-gap">
                  <label for="">Correo electrónico</label>
                  <input
                    type="email"
                    class="search-input"
                    placeholder="Ingresa el correo electrónico"
                    formControlName="correo"
                  />
                </div>
                <div class="input-wrapper flex-column sm-gap">
                  <label for="">Teléfono</label>
                  <input
                    type="tel"
                    placeholder="Ingresa el teléfono"
                    class="search-input"
                    formControlName="telefono"
                  />
                </div>
                <div class="input-wrapper flex-column sm-gap">
                  <label for="">Selecciona el rol a asignar</label>
                  <select class="custom-select" formControlName="idrol">
                    @for (rol of roles(); track rol.idrol) {
                      <option value="{{ rol.idrol }}">{{ rol.nombre }}</option>
                    } @empty {
                      <div>
                        <p>No se encontraron roles</p>
                      </div>
                    }
                  </select>
                </div>
                <div>
                  <button
                    class="default-button"
                    (click)="registrarParticipante()"
                    [disabled]="formularioParticipantes.invalid"
                  >
                    Registrar participante
                  </button>
                </div>
              </form>
              <h3>Participantes del proyecto</h3>
              @for (participante of participantes(); track $index) {
                <participante-card
                  [participante]="participante"
                  [roles]="roles()"
                  (borrarParticipante)="eliminarParticipante($event)"
                ></participante-card>
              } @empty {
                <div class="sin-procesos formulario">
                  <p class="empty">Aún no has registrado ningún participante</p>
                </div>
              }
            </div>
          }
          @case ('Detalles') {
            <p>Sección de detalles</p>
          }
          @default {
            <p>Opción inválida</p>
          }
        }
      </div>
    </main>
  </div>
</div>
