<modal-carga [mensaje]="'Registrando cuenta...'" [toggler]="esModalCargaVisible()"></modal-carga>
<div class="login-container">
  <div class="circulo-naranja"></div>
  <div class="circulo-azul"></div>
  <div class="login-card">
    <header>
      <h3 class="titulo-login">Gestor de proyectos</h3>
    </header>
    <section>
      <div class="imagen">
        <img
          src="https://cdni.iconscout.com/illustration/premium/thumb/negociando-gente-de-negocios-illustration-svg-download-png-9142577.png"
          alt="gente-negociando"
        />
      </div>
      <form class="login_form" [formGroup]="formularioRegistro">
        <div class="flex-column sm-gap">
          <h2>Bienvenido a gestor de proyectos</h2>
          <span>Tu gestor de proyectos favorito</span>
        </div>
        <div class="form-group">
          <label for="username">Nombre de usuario</label>
          <input type="text" formControlName="nombre" />
          @if (
            formularioRegistro.get('nombre')?.hasError('required') &&
            formularioRegistro.get('nombre')?.touched &&
            formularioRegistro.get('nombre')?.dirty
          ) {
            <span class="error-span"> El nombre de usuario no puede quedar vacío </span>
          }
        </div>
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input id="email" type="email" name="email" formControlName="correo" />
          @if (
            formularioRegistro.get('correo')?.hasError('required') &&
            formularioRegistro.get('correo')?.touched &&
            formularioRegistro.get('correo')?.dirty
          ) {
            <span class="error-span"> El correo no puede quedar vacío </span>
          }
          @if (
            formularioRegistro.get('correo')?.hasError('pattern') &&
            formularioRegistro.get('correo')?.touched &&
            formularioRegistro.get('correo')?.dirty
          ) {
            <span class="error-span">El correo electrónico es inválido</span>
          }
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input id="password" type="password" name="password" formControlName="contrasena" />
          @if (
            formularioRegistro.get('contrasena')?.hasError('required') &&
            formularioRegistro.get('contrasena')?.touched &&
            formularioRegistro.get('contrasena')?.dirty
          ) {
            <span class="error-span">La contraseña no puede quedar vacía</span>
          }
          @if (
            formularioRegistro.get('contrasena')?.hasError('minlength') &&
            formularioRegistro.get('contasena')?.touched &&
            formularioRegistro.get('contrasena')?.dirty
          ) {
            <span class="error-span"
              >La contraseña debe de tener una longitud mínima de 8 caracteres</span
            >
          }
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirmar contraseña</label>
          <input type="password" name="confirm-password" formControlName="confirmarContrasena" />
          @if (
            formularioRegistro.get('confirmarContrasena')?.hasError('required') &&
            formularioRegistro.get('confirmarContrasena')?.touched &&
            formularioRegistro.get('confirmarContrasena')?.dirty
          ) {
            <span class="error-span">El campo de confirmar contraseña no puede quedar vacío</span>
          }
          @if (
            formularioRegistro.get('confirmarContrasena')?.hasError('contrasenasDiferentes') &&
            formularioRegistro.get('confirmarContrasena')?.touched &&
            formularioRegistro.get('confirmarContrasena')?.dirty
          ) {
            <span class="error-span">Las contraseñas no coinciden</span>
          }
        </div>
        <button
          type="submit"
          class="login-button"
          (click)="registrarUsuario()"
          [disabled]="formularioRegistro.invalid"
        >
          Crear cuenta
        </button>
        <p class="login-link crear-cuenta">
          <span>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></span>
        </p>
      </form>
    </section>
  </div>
</div>
