<div class="overlay" [class.animar]="toggler">
  <div class="modal modal-crear-diagrama-clase" [class.animar]="toggler">
    <header>
      <h2>Creación de diagrama de clases</h2>
      <div class="close-button" (click)="cerrar.emit()">X</div>
    </header>
    <form [formGroup]="formularioDiagramaClase" class="flex-column sm-gap">
      <div class="input-wrapper flex-column sm-gap">
        <label for="">Nombre de la clase</label>
        <input
          type="text"
          placeholder="Ingresa el nombre aquí"
          formControlName="nombre"
          class="search-input"
        />
      </div>
      <div [formGroup]="formularioAtributos" class="flex-column sm-gap">
        <div class="input-wrapper flex-column sm-gap">
          <label for="">Nombre del atributo</label>
          <input
            type="text"
            placeholder="Ingresa el atributo"
            class="search-input"
            formControlName="nombreAtributo"
          />
        </div>
        <div>
          <button (click)="agregarAtributo()">Agregar atributo</button>
        </div>
      </div>
      <div formArrayName="atributos" class="flex-column sm-gap">
        <h4>Lista de atributos</h4>
        @for (control of obtenerArrayAtributos.controls; track $index) {
          <div>{{ control.value }}</div>
        } @empty {
          <div class="sin-elementos">Aún no has agregado ningún atributo</div>
        }
      </div>
      <div [formGroup]="formularioMetodos" class="flex-column sm-gap">
        <div class="input-wrapper flex-column sm-gap">
          <label for="">Nombre del método</label>
          <input
            type="text"
            placeholder="Ingresa el método"
            class="search-input"
            formControlName="nombreMetodo"
          />
        </div>
        <div>
          <button (click)="agregarMetodo()">Agregar método</button>
        </div>
      </div>
      <div formArrayName="metodos" class="flex-column sm-gap">
        <h4>Lista de métodos</h4>
        @for (control of obtenerArrayMetodos.controls; track $index) {
          <div>{{ control.value }}</div>
        } @empty {
          <div class="sin-elementos">Aún no has agregado ningún método</div>
        }
      </div>
      <button (click)="crearDiagramaClase.emit(formularioDiagramaClase.value); cerrar.emit()">
        Crear diagrama de clase
      </button>
    </form>
  </div>
</div>
