<modal-eliminar
  (cancelar)="cerrarModalEliminarProyecto()"
  (confirmar)="eliminarProyecto($event)"
  [proyectoAEliminar]="proyectoSeleccionado()"
  [toggler]="esEliminarProyectoModalVisible"
></modal-eliminar>
<modal-crear-proyecto
  (cerrar)="cerrarModalCrearProyecto()"
  (crearNuevoProyecto)="crearNuevoProyecto($event)"
  [toggler]="esCrearProyectoModalVisible"
></modal-crear-proyecto>
<modal-configuracion-proyecto
  (cerrar)="cerrarModalConfigurarProyecto()"
  [toggler]="esConfigurarProyectoModalVisible"
></modal-configuracion-proyecto>
<modal-editar-proyecto
  (cancelar)="cerrarModalEditarProyecto()"
  [proyectoEditar]="proyectoSeleccionado()"
  (editar)="editarProyecto($event)"
  [toggler]="esEditarProyectoModalVisible()"
></modal-editar-proyecto>
<section class="flex-column">
  <div class="section-header flex-center">
    <div class="hamburger-menu">
      <img
        src="https://img.icons8.com/?size=100&id=3096&format=png&color=#111c2d"
        alt="hamburguer-menu"
      />
    </div>
    <div class="more-options flex-center">
      <input type="text" placeholder="Busca cualquier cosa..." class="search-input" />
      <div class="modo">
        <img
          src="https://img.icons8.com/?size=100&id=45474&format=png&color=111c2d"
          alt="dark-mode-icon"
        />
      </div>
      <div class="notificaciones">
        <img
          src="https://img.icons8.com/?size=100&id=11642&format=png&color=111c2d"
          alt="notifications-icon"
        />
      </div>
      <div class="info-perfil">
        <div class="foto" (click)="mostrarModalConfigurarProyecto()">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg"
            alt="default-pfp"
          />
        </div>
        <div class="datos-usuario flex-column">
          <span class="username">Julio Lugo</span>
          <span class="role">Rol</span>
        </div>
      </div>
    </div>
  </div>
  <header>
    <div>
      <h4 class="section-title">Mis proyectos</h4>
      <span class="section-description">Gestiona y organiza tus proyectos de manera rápida</span>
    </div>
    <button class="default-button" (click)="mostrarModalCrearProyecto()">
      Crear nuevo proyecto +
    </button>
  </header>
  @if (estaCargando()) {
    <div class="content-loading-wrapper">
      <div class="content-loading">
        <div class="loading-wrapper">
          <div class="seccion-carga">
            <div class="bola-1"></div>
            <div class="bola-2"></div>
            <div class="bola-3"></div>
            <div class="bola-4"></div>
          </div>
          <p>Obteniendo proyectos...</p>
        </div>
      </div>
    </div>
  }
  @if (!estaCargando() && proyectos().length > 0) {
    <div class="grid projects-section">
      @for (proyecto of proyectos(); track $index) {
        <proyecto-card
          [datosProyecto]="proyecto"
          (eliminar)="mostrarModalEliminarProyecto(); seleccionarProyecto(proyecto)"
          (editar)="seleccionarProyecto(proyecto); mostrarModalEditarProyecto()"
        ></proyecto-card>
      }
    </div>
  }
  @if (!estaCargando() && proyectos().length === 0) {
    <div class="no-results-wrapper">
      <div class="no-results">
        <span>Aún no has creado ningún proyecto</span>
      </div>
    </div>
  }
</section>
