.login-container {
  min-height: 100vh;
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.login-card {
  width: 100%;
  padding: 2rem;
  max-width: 1200px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 1;
  margin: 2rem;
}

.login-card h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-group input {
  padding: 0.6rem 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--grayish);
  font-size: 0.95rem;
}

.login-button {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--blue);
  padding: 0.6rem 1rem;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.login-link {
  text-align: center;
  font-weight: 600;
}

.login-link a {
  color: var(--blue);
  text-decoration: none;
  margin: 0 0.3rem;
}

.titulo-login {
  font-size: 1.5rem;
}

section {
  display: flex;
  gap: 5rem;
  padding: 2.5rem;
}

section > * {
  flex: 1;
}

.imagen {
  display: grid;
  place-items: center;
}

.circulo-naranja {
  background-color: rgb(255, 175, 146);
  width: 300px;
  height: 300px;
  border-radius: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.circulo-azul {
  background-color: rgb(81, 162, 255);
  width: 300px;
  height: 300px;
  border-radius: 100%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.form-group label {
  font-weight: 700;
}

.recordar {
  display: flex;
  justify-content: space-between;
}

.checkbox-wrapper {
  display: flex;
  gap: 0.5rem;
}

.crear-cuenta {
  text-align: left;
}

.login-button:disabled {
  background-color: rgba(0, 133, 219, 0.4);
}
