.login_form {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-family: Arial, sans-serif;
}

.login-card h2 {
    text-align: center;
    padding: 0 0 20px;
}