.project-card {
  padding: 1.5rem;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-header > img {
  width: 25px;
  height: 25px;
}

.fecha-creacion {
  display: flex;
  justify-content: flex-end;
}

.opciones-proyecto {
  display: flex;
  gap: 0.5rem;
}

.opciones-proyecto > button {
  flex: 1;
  border: none;
  padding: 0.5rem 0.25rem;
  border-radius: var(--border-radius);
  color: var(--font-color);
  background-color: var(--primary-color);
  cursor: pointer;
  font-weight: 700;
}
