.project-card > * {
  flex: 1;
}

.wrapper {
  padding: 1.5rem;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.project-header > img {
  width: 15px;
  height: 15px;
}

.fecha-creacion {
  display: flex;
  justify-content: flex-end;
}

.opciones-proyecto {
  display: flex;
  gap: 0.5rem;
}

.opciones-proyecto > button {
  flex: 1;
  border: 1px solid lightgray;
  padding: 0.5rem 0.25rem;
  border-radius: var(--border-radius);
  color: var(--font-color);
  background-color: var(--primary-color);
  cursor: pointer;
  font-weight: 700;
  transition: color ease-in 300ms 0ms;
  transition: background-color ease-in 300ms 0ms;
}

.opciones-proyecto > button:first-child:hover {
  color: var(--primary-color);
  background-color: var(--blue);
  border: none;
}

.opciones-proyecto > button:last-child:hover {
  color: var(--red-color);
  background-color: var(--red-background-color);
  border: var(--red-outline);
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
  color: rgb(109, 109, 109);
}

.estado-proyecto {
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  font-size: 0.6rem;
  display: grid;
  place-items: center;
  font-weight: 700;
  min-width: max-content;
}

.crear-diagrama {
  border: 1px solid lightgray;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--font-color);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.35rem 0.65rem;
}

.barra-estado {
  background-color: var(--blue);
  height: 3px;
  border-radius: var(--border-radius);
}
