nav {
  background-color: var(--primary-color);
  max-width: 270px;
  padding: 1.5rem;
  height: calc(100dvh - 3rem);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

ul > li {
  font-weight: 600;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

li > img {
  height: 20px;
  width: 20px;
}

ul > li:hover {
  background-color: rgba(41, 41, 41, 0.5);
}

span {
  font-weight: 700;
  font-size: 0.75rem;
  color: #111c2d;
  opacity: 0.5;
  text-transform: uppercase;
}
