nav {
  background-color: var(--primary-color);
  max-width: 310px;
  padding: 1.5rem;
  height: 100dvh;
  border-right: 1px solid lightgray;
  box-shadow: var(--box-shadow);
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 2.5rem;
}

ul {
  list-style-type: none;
}

ul > li {
  font-weight: 600;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

li > img {
  height: 20px;
  width: 20px;
}

ul > li:hover {
  background-color: rgba(41, 41, 41, 0.5);
}
