nav {
  background-color: var(--primary-color);
  max-width: 270px;
  padding: 1.5rem;
  height: 100dvh;
  border-right: 1px solid lightgray;
  position: fixed;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 20px;
  height: 20px;
  background-color: var(--blue);
  border-radius: 50%;
}

.logo-wrapper > h4 {
  font-weight: bolder;
}

ul {
  list-style-type: none;
  flex: 1;
}

ul > li {
  font-weight: 600;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

li > img {
  height: 20px;
  width: 20px;
}

ul > li:hover {
  background-color: rgba(41, 41, 41, 0.5);
}

span {
  font-weight: 700;
  font-size: 0.75rem;
  color: #111c2d;
  opacity: 0.5;
  text-transform: uppercase;
}

#boton-cerrar-sesion {
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: background-color ease-in 300ms 0ms;
}

.boton-inner-text {
  transition: color ease-in 300ms 0ms;
}

#boton-cerrar-sesion:hover {
  background-color: var(--red-background-color);
  border: var(--red-outline);

  .boton-inner-text {
    color: red;
  }
}
