<modal-eliminar-diagrama
  [toggler]="esModalEliminarDiagramaVisible"
  (cerrar)="ocultarModalEliminarDiagrama()"
  (confirmar)="eliminarDiagrama()"
  (cancelar)="ocultarModalEliminarDiagrama()"
></modal-eliminar-diagrama>
<div class="canvas-wrapper">
  <ng-diagram
    [model]="model"
    class="canvas"
    [nodeTemplateMap]="nodeTemplateMap"
    (drop)="onDrop($event)"
    (dragover)="onDragover($event)"
    [config]="config"
  ></ng-diagram>
  <div class="menu-lateral flex-column md-gap" [class.animar-menu-lateral]="estaAbiertoMenuLateral">
    <header>
      <div>
        <h3>Menú de componentes</h3>
        <span>Suelta y arrastra o haz click sobre un componente</span>
      </div>
      <div class="close-button" (click)="cerrarMenuLateral()">X</div>
    </header>
    <div class="seccion-componentes">
      @switch (tipoDiagramaSeleccionado()) {
        @case ('clase') {
          <div
            draggable="true"
            (dragstart)="onDragStart($event, 'diagramaClase')"
            (click)="agregarForma('diagramaClase', 'click')"
            class="menu-shape"
          >
            <div class="nombre-shape">Clase</div>
            <div class="atributos-shape">Atributos</div>
            <div class="metodos-shape">Métodos</div>
          </div>
          <div
            draggable="true"
            (dragstart)="onDragStart($event, 'diagramaInterfaz')"
            (click)="agregarForma('diagramaInterfaz', 'click')"
            class="menu-shape"
          >
            <div class="nombre-shape">Interfaz</div>
            <div class="metodos-shape">Métodos</div>
          </div>
          <div
            draggable="true"
            (dragstart)="onDragStart($event, 'diagramaEnum')"
            (click)="agregarForma('diagramaEnum', 'click')"
            class="menu-shape"
          >
            <div class="nombre-shape">Enum</div>
            <div class="metodos-shape">Valores</div>
          </div>
          <div
            draggable="true"
            (dragstart)="onDragStart($event, 'paquete')"
            (click)="agregarForma('paquete', 'click')"
            class="paquete-shape"
            style="cursor: grab"
          >
            <span>texto</span>
            <div>Paquete</div>
          </div>
        }
        @case ('casos_uso') {
          <div
            draggable="true"
            (dragstart)="onDragStart($event, 'actor')"
            (click)="agregarForma('actor', 'click')"
            class="menu-shape"
          >
            <div class="actor-content-wrapper">
              <div class="actor-image-wrapper">
                <img
                  src="https://static.thenounproject.com/png/968079-200.png"
                  alt="actor-imagen"
                />
              </div>
              <div>
                <span>Actor</span>
              </div>
            </div>
          </div>
          <div
            draggable="true"
            (dragstart)="onDragStart($event, 'casoUso')"
            (click)="agregarForma('casoUso', 'click')"
            class="menu-shape caso-uso"
          >
            <div class="caso-uso-texto-wrapper">Caso uso</div>
          </div>
          <div
            draggable="true"
            (dragstart)="onDragStart($event, 'boundary')"
            (click)="agregarForma('boundary', 'click')"
            class="menu-shape boundary"
          >
            Boundary
          </div>
        }
        @case ('secuencia') {
          <div
            draggable="true"
            (dragstart)="onDragStart($event, 'lineaVida')"
            (click)="agregarForma('lineaVida', 'click')"
            class="menu-shape secuencia-participante"
          >
            <div class="participante-preview">Participante</div>
            <div class="linea-vida-preview"></div>
          </div>
          <div
            draggable="true"
            (dragstart)="onDragStart($event, 'activacion')"
            (click)="agregarForma('activacion', 'click')"
            class="menu-shape secuencia-activacion"
          >
            <div></div>
            <span>Activación</span>
          </div>
          <div
            draggable="true"
            (dragstart)="onDragStart($event, 'fragmento')"
            (click)="agregarForma('fragmento', 'click')"
            class="menu-shape secuencia-fragmento"
          >
            <div class="fragmento-preview-header">alt [condición]</div>
            <span>Fragmento</span>
          </div>
          <div
            draggable="true"
            (dragstart)="onDragStart($event, 'etiqueta')"
            (click)="agregarForma('etiqueta', 'click')"
            class="menu-shape secuencia-mensaje"
          >
            <span>mensaje()</span>
            <div class="mensaje-preview"></div>
          </div>
        }
      }
      @if (tipoDiagramaSeleccionado() !== 'secuencia') {
        <div
          draggable="true"
          (dragstart)="onDragStart($event, 'etiqueta')"
          (click)="agregarForma('etiqueta', 'click')"
          style="display: grid; place-items: center"
        >
          <div class="menu-shape" style="padding: 0.25rem 0.5rem">Etiqueta</div>
        </div>
      }
    </div>
  </div>
  <div class="barra-flotante">
    <div class="nombre-diagrama">
      @if (estaEdicionNombreDiagramaActiva) {
        <input
          type="text"
          [(ngModel)]="nombreDiagrama"
          (keydown.enter)="desactivarEdicionNombreDiagrama()"
          class="name-input"
          autofocus
        />
      } @else {
        <h4 (dblclick)="activarEdicionNombreDiagrama()" class="nombre-diagrama-cu">
          <div class="flex-column">
            {{ esDiagramaExistente ? '(Editando)' : '' }} {{ nombreDiagrama }}
            @if (datosDiagrama()?.ultimaedicion) {
              <span class="ultima-edicion"
                >Última edición: {{ datosDiagrama()?.ultimaedicion ?? '' | date: 'short' }}</span
              >
            }
          </div>
        </h4>
      }
    </div>
    <div class="datos-proyecto flex-column">
      <h3>{{ nombreProyecto }}</h3>
      <h4 class="tipo-diagrama">
        @switch (tipoDiagramaSeleccionado()) {
          @case ('clase') {
            Diagrama de clases
          }
          @case ('casos_uso') {
            Diagrama de casos de uso
          }
          @case ('paquetes') {
            Diagrama de paquetes
          }
          @case ('secuencia') {
            Diagrama de secuencia
          }
        }
      </h4>
    </div>
    <div class="opciones flex-column">
      @if (!estaAbiertoMenuLateral) {
        <div class="abrir-menu" (click)="abrirMenuLateral()">
          <img
            src="https://img.icons8.com/?size=100&id=8113&format=png&color=000000"
            alt="hamburger-menu"
          />
        </div>
      }
      <button
        class="guardar"
        (click)="esDiagramaExistente ? editarDiagrama() : crearDiagrama()"
        style="border: none"
        [disabled]="!nombreDiagrama.trim()"
      >
        <img
          src="https://img.icons8.com/?size=100&id=18764&format=png&color=ffffff"
          alt="icono-guardar"
        />
      </button>
      <button
        class="eliminar"
        [disabled]="!esDiagramaExistente"
        (click)="mostrarModalEliminarDiagrama()"
      >
        <img
          src="https://img.icons8.com/?size=100&id=VlO1zjsC88sT&format=png&color=ffffff"
          alt="icono-eliminar"
        />
      </button>
    </div>
  </div>
  <ng-diagram-minimap></ng-diagram-minimap>
</div>
