.main-layout {
  display: flex;
  min-height: 100dvh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: calc(255px + 1rem);
}

main > *:not(router-outlet) {
  display: flex;
  flex: 1;
}
