<div class="subproceso-card flex-column sm-gap">
  <header class="flex-column sm-gap">
    <div class="header-inner-wrapper">
      @if (!estaEditando) {
        <h4>{{ subproceso?.nombresubproceso }}</h4>
      }
      @if (!estaBorrando && !estaEditando) {
        <div class="botones">
          <button class="gray-button" (click)="mostrarMenuEditar()">Editar</button>
          <button class="gray-button" (click)="mostrarMenuBorrar()">Eliminar</button>
        </div>
      }
    </div>
    @if (!estaBorrando && !estaEditando) {
      <div class="tecnicas">
        @for (tecnica of subproceso?.tecnicasasociadas; track tecnica.idtecnicarecoleccion) {
          <span (click)="goToSeccionTecnicaSeleccionada(tecnica.nombre)">{{ tecnica.nombre }}</span>
        }
      </div>
    }
  </header>
  @if (estaBorrando) {
    <div class="opciones-borrar-wrapper">
      <span>¿Seguro que deseas eliminar este subproceso?</span>
      <div class="botones-borrar">
        <button (click)="eliminarSubproceso()" class="boton-confirmacion">Sí</button>
        <button (click)="cerrarMenuBorrar()" class="gray-button">No</button>
      </div>
    </div>
  }
  @if (estaEditando) {
    <form [formGroup]="formularioEditarSubproceso" class="flex-column sm-gap">
      <div class="input-wrapper flex-column sm-gap">
        <label for="">Nombre del subproceso</label>
        <input
          type="text"
          formControlName="nombreSubproceso"
          placeholder="Ingresa el nombre"
          class="search-input"
        />
        @if (
          obtenerControlFormularioEditarSubproceso('nombreSubproceso')?.hasError('required') &&
          obtenerControlFormularioEditarSubproceso('nombreSubproceso')?.dirty
        ) {
          <div class="error-span">El nombre del subproceso no puede quedar vacío</div>
        }
      </div>
      <div class="input-wrapper flex-column sm-gap">
        <label for="">Descripción del subproceso</label>
        <textarea
          formControlName="descripcionSubproceso"
          class="search-input"
          placeholder="Descripción del subproceso"
        ></textarea>
        @if (
          obtenerControlFormularioEditarSubproceso('descripcionSubproceso')?.hasError('required') &&
          obtenerControlFormularioEditarSubproceso('descripcionSubproceso')?.dirty
        ) {
          <div class="error-span">La descripción del subprooceso no puede quedar vacía</div>
        }
      </div>
      <div class="input-wrapper flex-column sm-gap">
        <label for="">Proceso asociado</label>
        <select formControlName="procesoAsociado" class="custom-select">
          @for (proceso of procesosProyecto; track proceso.idproceso) {
            <option value="{{ proceso.idproceso }}">{{ proceso.nombre }}</option>
          }
        </select>
      </div>
      <div class="input-wrapper flex-column sm-gap" formArrayName="tecnicasAsociadas">
        <label for="">Técnicas de recolección utilizadas</label>
        <div class="checkbox-wrapper">
          @for (tecnica of tecnicasAsociadasSubproceso.controls; track $index; let i = $index) {
            <div class="checkbox-inner-wrapper">
              <input type="checkbox" [formControlName]="i" />
              <span>{{ obtenerNombreTecnica($index) }}</span>
            </div>
          }
        </div>
        @if (
          obtenerControlFormularioEditarSubproceso('tecnicasAsociadas')?.hasError(
            'sinTecnicaSeleccionada'
          ) && obtenerControlFormularioEditarSubproceso('tecnicasAsociadas')?.dirty
        ) {
          <div class="error-span">Debes seleccionar al menos una técnica</div>
        }
      </div>
      <div class="botones-formulario-edicion">
        <button
          class="default-button"
          (click)="editarSubproceso()"
          [disabled]="formularioEditarSubproceso.invalid"
        >
          Editar
        </button>
        <button class="gray-button" (click)="cerrarMenuEditar()">Cancelar</button>
      </div>
    </form>
  }
  @if (!estaBorrando && !estaEditando) {
    <div class="descripcion-subproceso">
      <p>{{ subproceso?.descripcionsubproceso }}</p>
    </div>
  }
</div>
