@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Young+Serif&display=swap');
@import 'ng-diagram/styles.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--font-color);
}

:root {
  --primary-color: #fff;
  --secondary-color: #0f0f0f;
  --box-shadow:
    rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  --border-radius: 0.75rem;
  --body-bg-color: #f4f5f7;
  --font-color: #111c2d;
  --blue: #0085db;
  --lightgreen: rgb(223, 255, 243);
  --grayish: rgb(231, 236, 240);
  --lightblue: rgb(229, 243, 251);
  --yellowish: rgb(255, 246, 234);
  --red-color: #ef4444;
  --red-background-color: #fff1f2;
  --red-outline: 1px solid #fdd4d6;
  --blue-fg-color: rgb(212, 244, 255);
  --orange: rgb(255, 119, 28);
  --orange-fg-color: rgb(255, 232, 196);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.md-gap {
  gap: 1.5rem;
}

.sm-gap {
  gap: 0.85rem;
}

img {
  display: block;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
}

.default-button {
  border: none;
  border-radius: var(--border-radius);
  font-weight: bold;
  background-color: var(--blue);
  padding: 0.5rem;
  color: var(--primary-color);
  font-size: 1rem;
}

.default-button:disabled {
  background-color: rgba(0, 133, 219, 0.4);
}

.gray-button {
  border: none;
  border-radius: var(--border-radius);
  font-weight: bold;
  border: 1px solid lightgray;
  color: rgb(85, 85, 85);
  padding: 0.5rem;
  background-color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
}

.default-button:hover {
  cursor: pointer;
}

.gray-background {
  background-color: var(--grayish);
}

.blue-background {
  background-color: var(--lightblue);
}

.green-background {
  background-color: var(--lightgreen);
}

.yellow-background {
  background-color: var(--yellowish);
}

.search-input {
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  font-size: 0.8rem;
}

.description-font {
  font-size: 0.95rem;
  color: rgb(106, 106, 106);
}

.input-wrapper {
  gap: 0.5rem;
}

.input-wrapper > label {
  font-weight: bold;
  font-size: 1rem;
}

.close-button {
  border-radius: var(--border-radius);
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid lightgray;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  background-color: var(--primary-color);
}

/* Clase para el overlay que utilizan los modales */
.overlay {
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity ease 300ms 0ms;
  pointer-events: none;
}

.modal {
  transition:
    transform ease 300ms 0ms,
    opacity ease 300ms 0ms;
  transform: scale(0);
  opacity: 0;
  min-width: 750px;
}

.overlay.animar {
  opacity: 1;
  pointer-events: auto;
}

.modal.animar {
  transform: scale(1);
  opacity: 1;
}

.header-modal {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.slide-in {
  transition: transform ease-in 300ms 0s;
}

.error-span {
  font-weight: 600;
  color: red;
  font-size: 0.65rem;
}

/* Estilos del toastr */
#toast-container > div {
  background-color: var(--primary-color);
  color: var(--font-color);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.toastr-error {
  color: var(--primary-color) !important;
  background-color: rgb(239, 119, 119) !important;
  border-radius: var(--border-radius);
  padding: 1.5rem;
  font-weight: 700;
}

.empty {
  font-weight: 700;
  font-size: 1.1rem;
}

.custom-select {
  background-color: var(--primary-color);
  border: 1px solid lightgray;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  color: rgb(136, 136, 136);
}

/* Estilos del botón de confirmación */
.boton-confirmacion {
  background-color: red;
  color: var(--primary-color);
  font-weight: 700;
  border-radius: var(--border-radius);
  border: none;
}

.input-wrapper-row {
  display: flex;
  gap: 1rem;
}

.input-wrapper-row > * {
  flex: 1;
}

.xs-gap {
  gap: 0.5rem;
}

/* Estilos globales que utilizo en los modales de edición */
.modal-editar {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  z-index: 2;
}

.header-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.formulario-modal-editar {
  padding: 0;
  box-shadow: none;
  max-height: 80vh;
  overflow-y: auto;
}

.wrapper-resultados-modal {
  max-height: 55vh;
  overflow-y: auto;
}

/* Estilos globales que utilizo en las barras de búsqueda */
.resultados-busqueda {
  z-index: 1;
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  width: 100%;
  margin-top: 4.25rem;
  max-height: 60vh;
  overflow-y: auto;
}

.resultados-busqueda .wrapper-participante {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border: 1px solid lightgrey;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.wrapper-participante .datos-rol {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.wrapper-participante .nombre-participante {
  font-size: 0.85rem;
}

.nombre-rol {
  background-color: var(--blue-fg-color);
  color: var(--blue);
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;
}

.resultados-busqueda-padre {
  position: relative;
}

.resultados-busqueda .sin-participantes {
  border: 1px solid lightgray;
  font-weight: bold;
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  padding: 1rem;
  font-size: 0.8rem;
}

.z-100 {
  z-index: 100;
}

/* Estilos globales que utilizo para las figuras de los diagramas*/
/* Diagramas de clase */
.shape-main-content,
.tipo-componente {
  font-size: 0.8rem;
}

.shape-main-content {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.tipo-componente {
  color: rgb(70, 70, 70);
  font-weight: bold;
  opacity: 0.6;
}

.cabecera-contenido-interno {
  background-color: var(--blue);
  padding: 0.5rem;
  color: var(--primary-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.atributos,
.metodos {
  background-color: var(--primary-color);
  padding: 0.5rem;
}

.atributos {
  border-bottom: 1px solid lightgrey;
}

.metodos {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.cabecera-seccion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 0.85rem;
  gap: 2rem;
}

.cabecera-seccion button,
.shape-boton-borrar {
  background-color: var(--blue-fg-color);
  color: var(--blue);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.shape-boton-borrar img {
  width: 10px;
  height: 10px;
}

.shape-input {
  max-width: 100%;
  background: transparent;
  border: none;
  font-size: 0.8rem;
}

.metodo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
