@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Young+Serif&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--font-color);
}

:root {
  --primary-color: #fff;
  --secondary-color: #0f0f0f;
  --box-shadow:
    rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  --border-radius: 0.75rem;
  --body-bg-color: #f0f5f9;
  --font-color: #111c2d;
  --blue: rgb(0, 133, 219);
  --lightgreen: rgb(223, 255, 243);
  --grayish: rgb(231, 236, 240);
  --lightblue: rgb(229, 243, 251);
  --yellowish: rgb(255, 246, 234);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.md-gap {
  gap: 1.5rem;
}

.sm-gap {
  gap: 0.75rem;
}

img {
  display: block;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
}

.default-button {
  border: none;
  border-radius: var(--border-radius);
  font-weight: bold;
  background-color: var(--blue);
  padding: 0.5rem;
  color: var(--primary-color);
  font-size: 1rem;
}

.default-button:disabled {
  background-color: rgba(0, 133, 219, 0.4);
}

.gray-button {
  border: none;
  border-radius: var(--border-radius);
  font-weight: bold;
  border: 1px solid lightgray;
  color: rgb(85, 85, 85);
  padding: 0.5rem;
  background-color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
}

.default-button:hover {
  cursor: pointer;
}

.gray-background {
  background-color: var(--grayish);
}

.blue-background {
  background-color: var(--lightblue);
}

.green-background {
  background-color: var(--lightgreen);
}

.yellow-background {
  background-color: var(--yellowish);
}

.search-input {
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  font-size: 0.8rem;
}

.description-font {
  font-size: 0.95rem;
  color: rgb(106, 106, 106);
}

.input-wrapper {
  gap: 0.5rem;
}

.input-wrapper > label {
  font-weight: bold;
  font-size: 1rem;
}

.close-button {
  border-radius: var(--border-radius);
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid lightgray;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  background-color: var(--primary-color);
}

/* Clase para el overlay que utilizan los modales */
.overlay {
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity ease-in 300ms 0ms;
  pointer-events: none;
}

.modal {
  transition: transform ease-in 300ms 0ms;
  transform: translateY(100%);
  min-width: 750px;
}

.overlay.animar {
  opacity: 1;
  pointer-events: auto;
}

.modal.animar {
  transform: translateY(0);
}

.header-modal {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.slide-in {
  transition: transfrom ease-in 300ms 0s;
}

.error-span {
  font-weight: 500;
  color: red;
  font-size: 0.65rem;
}

/* Estilos del toastr */
#toast-container > div {
  background-color: var(--primary-color);
  color: var(--font-color);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.toastr-error {
  color: var(--primary-color) !important;
  background-color: rgb(239, 119, 119) !important;
  border-radius: var(--border-radius);
  padding: 1.5rem;
  font-weight: 700;
}

.empty {
  font-weight: 700;
  font-size: 1.1rem;
}
