#canvas {
  height: 100dvh;
  background-color: var(--body-bg-color);
  box-sizing: border-box;
  position: relative;
}

.barra-flotante {
  position: absolute;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.barra-flotante > * {
  flex: 1;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: var(--box-shadow);
}
