.modal-editar-seguimiento {
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: var(--border-radius);
}

.involucrado {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--orange);
  padding: 0.5rem;
  font-weight: 600;
  font-size: 0.7rem;
}

.lista-involucrados {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.info-roles {
  display: flex;
  gap: 0.5rem;
}

.info-roles > * {
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  font-size: 0.8rem;
}

.eliminar {
  font-size: 0.6rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
